<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true">
    <testsuites>
        <testsuite name="Dummy">
            <directory>tests/Cerberus/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/Monolog/</directory>
        </whitelist>
    </filter>
</phpunit>
